{% extends "base.html" %}
{% load markup %}
{% load typogrify %}
{% load inthenews %}

{% block title %}{{ feature.title }}{% endblock %}
{% block page_title %}{{ feature.title }}{% endblock %}

{% block breadcrumb %}
    <a href="{% url feature_list %}">&laquo; back to all news &amp; reports</a>
{% endblock %}

{% block content %}
    {{ feature.date|date }}.
    {{ feature.body|markdown|typogrify }}
{% endblock %}

{% block right %}
    {% if recent_features %}
    <div class="section">
        <h3>Recent news &amp; reports</h3>
        {% for feature in recent_features %}    
                <p>
                    <a href="{{ feature.get_absolute_url }}">{{feature.title}}</a>
                </p>
                <p>{{ feature.teaser|truncatewords:"25"|typogrify }}</p>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}