{% extends "base.html" %}
{% load i18n %}
{% load inthenews %}
{% load typogrify %}
{% load markup %}

{% block title %}{% trans "News &amp; reports from the farmsubsidy.org network" %}{% endblock %}
{% block page_title %}{% trans "News &amp; reports from the farmsubsidy.org network" %}{% endblock %}

{% block content %}
  {% for feature in features %}
    <h4><a href="{{ feature.get_absolute_url }}">{{ feature.title|typogrify }}</a> </h4>
    {{ feature.date|date }}.
    {{ feature.teaser|markdown|typogrify }}
  {% endfor %}
{% endblock %}