Django==1.2.3
Markdown==2.0.1
coverage==3.2
django-devserver==0.0.2
django-pagination==1.0.5
django-profiles==0.2
http://bitbucket.org/ubernostrum/django-registration/get/tip.tar.gz
django-tagging==0.3
django-treebeard==1.52
feedparser==4.1
guppy==0.1.9
johnny-cache==0.2
pep8==0.4.2
psycopg2
python-dateutil
python-twitter
simplejson==2.0.9
git+git://github.com/andymccurdy/redis-py.git
twitter
git+git://github.com/symroe/xapian-haystack.git
git+git://github.com/symroe/django-haystack.git
django-piston==0.2.2
django-notify==1.1.2
git+http://github.com/sebleier/django-redis-cache.git
svn+http://typogrify.googlecode.com/svn/trunk/
git+git://github.com/toastdriven/queued_search.git
svn+http://queues.googlecode.com/svn/trunk
smartypants
