{% extends "base.html" %}
{% load countryinfo %}
{% load humanize %}
{% block content %}
    <table>
        <thead>
            <th>Rank</th>
            <th>Country</th>
            <th>Score</th>
        </thead>
        <tbody>
            {% for item in list %}
            <tr>
                <td>{{ item.rank|ordinal }}</td>
                <td><a href="{% url country item.country %}">{% code_to_name item.country %}</a></td>
                <td>{{ item.score }}%</td>
            </tr>
            {% endfor %}            
        </tbody>
    </table>
{% endblock %}