<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {% load i18n %}
    {% load list_tags %}
    {% load cache %}
    {% load humanize %}
    {% load inthenews %}    
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>{% block title %}{{title}}{% endblock %} | FarmSubsidy.org</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/reset-min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/main.css"  media="all"/>  
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/print.css"  media="print"/>        
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.cookie.js"></script>    
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.example.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-ui-1.7.1.custom.min.js"></script>
    <script src="{{ MEDIA_URL }}/js/scripts.js" type="text/javascript" charset="utf-8"></script>

    
    {% if list_enabled %}
        <link rel="stylesheet" href="/media/css/custom_lists.css" type="text/css" media="screen, projection">
        <script src="{{ MEDIA_URL }}/js/custom_lists.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}/js/lists.js" type="text/javascript" charset="utf-8"></script>    
    {% endif %}    

</head>

<body id="{% block body_style %}main{% endblock %}" class="{% block body_class %}none{% endblock %} {% if list_items.create %}list_enabled{% endif %}">

{# Topbar #}
<div id="topbar">
    <a href="http://www.twitter.com/farmsubsidy/">
        <img src="{{MEDIA_URL}}/images/follow.png" alt="Follow us on Twitter"/>
      </a>
    <form method="post" action="http://app.icontact.com/icp/signup.php" accept-charset="UTF-8" onsubmit="return verifyRequired();">
            <fieldset>
                <input name="redirect" value="http://www.icontact.com/www/signup/thanks.html" type="hidden"/>
                <input name="errorredirect" value="http://www.icontact.com/www/signup/error.html" type="hidden"/>
                <input name="listid" value="3290" type="hidden"/>
                <input name="specialid:3290" value="OMN5" type="hidden"/>
                <input name="clientid" value="161514" type="hidden"/>
                <input name="formid" value="278" type="hidden"/>
                <input name="reallistid" value="1" type="hidden"/>
                <input name="doubleopt" value="1" type="hidden"/>
            <script type="text/javascript">
                if (document.location.protocol === "https:"){
                    document.icpsignup.action = "https://app.icontact.com/icp/signup.php";
                }
                function verifyRequired() {
                    if (document.icpsignup["fields_email"].value == "") {
                        document.icpsignup["fields_email"].focus();
                        alert("The Email field is required.");
                        return false;
                    }
                    return true;
                }
            </script>
            <label for="fields_email">Sign up for our newsletter</label><input type="text" name="fields_email" value="" id="fields_email" size="20"/>
            <input name="Submit" value="ok" type="submit"/>
        </fieldset>        
    </form>
</div>

{# outer #}
<div id="outer">  
    
    {# header #}
    <div id="header">
        <div id="photos" class="{{header_class}}">
            
        </div>
        <h1>
            <a href="/"><span>farmsubsidy.org</span></a>
        </h1>
        <h2>Discover who gets what from the Common Agricultural Policy</h2>
        
        {# search form #}
        <form id="search_form" action="{% url search %}" method="POST" accept-charset="utf-8">
          <h2><label for="search" class="section_title">Search</label></h2>
          <input type="text" name="q" value="{{ q }}" id="q" title="Enter a company name or place">
          <input type="submit" value="Search" class="submit">
          <small>e.g. <a href="{% url search 'nestle' %}">Nestle</a> or <a href="{% url search 'windsor' %}">Windsor</a></small>
        </form>
        
        {# main menu #}
        <ul id="mainmenu">
            {% load active_url %}
            <li><a href="/" >Home</a></li>
            <li><a href="{% url countries %}">Countries</a></li>            
            <li><a href="/lists/">Custom lists</a></li>
            <li><a href="/news/">News &amp; reports</a></li>
            <li class="last"><a href="/faq/">FAQs</a></li>            
        </ul>

      {# {% load user %} #}
      {# {% user_menu user %} #}
    </div>
    {% if not is_home %}
        {% if featured_items %}
                <div class="features">
                  <ul id="features">
                      {% if featured_items.0 %}                  
                      <li>
                          <h5><a href="{{ featured_items.0.get_absolute_url }}">{{ featured_items.0.title }}</a></h5>
                        <p>{{ featured_items.0.teaser|truncatewords:"25" }}</p>
                      </li>
                      {% endif %}                  
                      {% if featured_items.1 %}
                        <li>
                          <h5><a href="{{ featured_items.1.get_absolute_url }}">{{ featured_items.1.title }}</a></h5>
                          <p>{{ featured_items.1.teaser|truncatewords:"25" }}</p>
                  
                        </li>          
                      {% endif %}
                      {% if featured_items.2 %}        
                      <li>
                        <h5><a href="{{ featured_items.2.get_absolute_url }}">
        {{ featured_items.2.title }}</a></h5>
                        <p>{{ featured_items.2.teaser|truncatewords:"25" }}</p>
                      </li>
                      {% endif %}        
                  </ul>
                  <br class="clear"/>
                  <h4>latest news &amp; reports from the farmsubsidy.org network</h4>                                                
              </div>
        {% endif %}    
    {% endif %}            
    <div id="right">
      {% block right %}
            {% if featured_items %}
                <h5>Latest news</h5>
                <ul>
                  {% if featured_items.0 %}                  
                  <li>
                      <h5><a href="{{ featured_items.0.get_absolute_url }}">{{ featured_items.0.title }}</a></h5>
                    <p>{{ featured_items.0.teaser|truncatewords:"25" }}</p>
                  </li>
                  {% endif %}                  
                  {% if featured_items.1 %}
                    <li>
                      <h5><a href="{{ featured_items.1.get_absolute_url }}">{{ featured_items.1.title }}</a></h5>
                      <p>{{ featured_items.1.teaser|truncatewords:"25" }}</p>

                    </li>          
                  {% endif %}
                  {% if featured_items.2 %}        
                  <li>
                    <h5><a href="{{ featured_items.2.get_absolute_url }}">
                {{ featured_items.2.title }}</a></h5>
                    <p>{{ featured_items.2.teaser|truncatewords:"25" }}</p>
                  </li>
                  {% endif %}        
                </ul>
            {% endif %}
      {% endblock %}
      {% include "blocks/list_view.html" %}
    </div>
    
    <div id="content">
        <div class="heading">
            <p class="breadcrumbs">
                {% block breadcrumb %}{% endblock %}
            </p>
            <h2>{% block page_title %}{% endblock %}</h2>
        </div>
        {% block error %}

        {% endblock %}
    
        {% block content %}
        {% endblock %}
    </div>
    

    {% block footer %}
      <div id="footer">
        
        <div id="about">
            <a href="http://eutransparency.org">
                <img src="{{MEDIA_URL}}/images/eutlogo.png" width="241" height="92" />
            </a>                
              <p>
                    Farmsubsidy.org is a project of EU Transparency, a non-profit organisation.
              </p>
        </div>
        
        <div id="links">
            <dl>
                {% if featured_items %}
                    <dt>Latest news:</dt>
                    <dd>
                        <ul>
                            <li><a href="{{ featured_items.0.get_absolute_url }}">{{ featured_items.0.title }}</a></li>
                        </ul>
                    </dd>
                {% endif %}
                <dt>Looking for more information?:</dt>
                <dd>
                    <ul>
                        <li><a href="/news">News &amp; reports</a></li>
                        <li><a href="/legal">Legal / Privacy Policy</a></li>
                        <li><a href="/about#contactus">About us</a></li>
                    </ul>
                </dd>
                <dt>Get in touch</dt>
                <dd>
                    <ul>
                        <li><a href="mailto:team[-at-]farmsubsidy[-dot-]org">Email us</a></li>
                        <li><a href="http://twitter.com/farmsubsidy">Follow farmsubsidy.org on Twitter</a></li>                        
                    </ul>
                </dd>
                <dt>Technical:</dt>
                <dd>
                    <ul>
                        <li><a href="http://github.com/eutransparency/Farm-Subsidy">Get the code</a></li>
                        <li><a href="{% url download %}">Get the raw data</a></li>
                        <li><a href="/api/">API</a></li>
                    </ul>
                </dd>
           </dl>                   
        </div>

      </div>
    {% endblock %}
</div>
</body>
</html>
{% block footer_scripts %}{% endblock %}
