<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  {% load blocks %}
  {% load i18n %}
  {% load cache %}
  {% load humanize %}  
  
    <title>{% block title %}{{title}}{% endblock %} | FarmSubsidy.org</title>

    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <script type="text/javascript" src="/media/js/jquery.example.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery-ui-1.7.1.custom.min.js"></script>
    <script src="/media/js/scripts.js" type="text/javascript" charset="utf-8"></script>


    <link rel="stylesheet" href="/media/css/layout.css" type="text/css"> 
    <link rel="stylesheet" href="/media/css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/media/css/print.css" type="text/css" media="print"> 
    <!--[if IE]>
      <link rel="stylesheet" href="/media/css/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    

</head>
<body id="{% block body_style %}{% endblock %}" class="{% block body_class %}{% endblock %} {% if list_items.create %}list_enabled{% endif %}">
  
<div id="outer">  
    <div id="head">
      <h1><a href={% url data.views.home %}>
        {% block logo %}<img src="/media/images/logo-small.png" width="83" height="58"> {% endblock %}
        farmsubsidy.org</a></h1>
      <h2>Discover who gets what from the Common Agricultural Policy</h2>
      
      <ul id="mainmenu">
        <li><a href="/">Search / Browse</a></li>
        <li><a href="/news">In The News</a> &amp; <a href="/blog">Blog</a></li>
        <li><a href="/faq">FAQs</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      
      {% load user %}
      {% user_menu user %}
      
      {% block message %}
        {% ifequal display_welcome_message "1" %}
          <div class="welcome_message notice">
            Hello, welcome to FarmSubsidy.org, a website that will help you find out who gets what in farm subsidies from the European Union, from small farmers to big multinational companies. It is a non-profit initiative, part of the <a href="followthemoney.eu">FollowTheMoney.eu</a> family.
          </div>
        {% endifequal %}
      {% endblock %}
    </div>    
    
    <div id="right">
      {% block right %}
        
      {% endblock %}
          {% if tweet %}
          <div class="twitter block">
              <h3><a href="http://twitter.com/farmsubsidy">farmsubsudy</a> on Twitter</h3> 
              <p>{{ tweet.text|urlize }}<p>
          </div>
          {% endif %}
      
    </div>
    
    <div id="content">
      {% block error %}

      {% endblock %}
      
      {% block content %}
      {% endblock %}
    </div>
    
    {% block footer %}
      <div id="footer" class="clear">
      <hr>      

      <ul id="footer_menu">
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/news">In The News</a></li>
        
      </ul>
      <ul id="footer_meta">
        <li><a href="/legal">Legal / Privacy Policy</a></li>
        <li><a href="/about#contactus">Contact Us</a></li>
      </ul>
      
      <p>FarmSubsidy.org is a project of <a href="http://www.followthemoney.eu/" title="Monitoring the European Union Budget | FollowTheMoney.eu" target="_blank">FollowTheMoney.eu</a></p>
      
      
    </div>
  {% endblock %}

</div>

{% block list %}
  {% if list_items.create %}
  <div id="list">
    {% load customlist_list %}
    {% list_total list_items.items %}
    <div class="list_items hide">{% list_items list_items.items %}</div>
    </div>
  {% endif %}
{% endblock %}
    
    
</body>
</html>
