{% extends "base.html" %}

{% block body_class %}onecol{% endblock %}
{% block body_style %}home{% endblock %}

{% block title %}Explore European Common Agricultural Policy farm subsidy payments{% endblock %}

{% block content %}
{% load inthenews %}
{% latestnews "" 1 "Blog" 1 %}

<div class="section">
    <h2>
        Welcome to farmsubsidy.org!
    </h2>
    <p class="intro">
        Subsidies paid to farmers and others under the European Union’s Common Agricultural Policy amount to approximately €55 billion a year, more than 40% of European Union’s entire annual budget, or around €100 a year for each EU citizen. Farmsubsidy.org helps people find out who gets what, and why.
    </p>
</div>

<div class="section">
 
</div>



{% endblock %}


{% block right %}
    <h3>Top Recipients</h3>
    <ul>
    {% for r in top_eu %}
      <li><a href="{{ r.get_absolute_url }}">{{ r.name }}</a></li>
    {% endfor %}
    </ul>
    <h3>Browse by country</h3>
    {% load countries %}
    {% country_menu %}
{% endblock %}