{% extends "base.html" %}

{% block body_class %}onecol{% endblock %}
{% block body_style %}home{% endblock %}

{% block logo %}
  <img src="media/images/logo-big.png" width="435" height="130"> 
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
{% load inthenews %}
{% latestnews "" 1 "Blog" 1 %}

<div class="section">
  <form action="/search" method="get" accept-charset="utf-8" id="search_form">
    <h2><label for="search" class="section_title">Search</label></h2>
    <input type="text" name="q" value="" id="q" title="Enter a company name or place">
    <div class="description">e.g. <a href="/search?q=nestle">Nestle</a> or <a href="/search?q=windsor">Windsor</a></div>
    <input type="submit" value="Go" class="submit">
  </form>
</div>

<div class="section">
  <h2 class="section_title">Browse</h2>
  <div class="section_content">
    <div class="col1">
      <div class="halfbox">
        <h3>Top Recipients for Europe</h3>
        <ul>
        {% for r in top_eu %}
          <li><a href="{% url recipient_view r.country r.globalrecipientidx %}">{{ r.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
      <div class="halfbox">
        <h3>Top Recipients for {{ ip_country.ip_country_name }}</h3>
        <ul>
        {% for r in top_for_ip %}
          <li>{{ r.name }}</li>
        {% endfor %}
        </ul>
        
      </div>
      <div class="box section_content">
        <h3 style="padding-top:1em">Mailing list</h3>



        <form method="post" action="http://app.icontact.com/icp/signup.php" name="icpsignup" accept-charset="UTF-8" onsubmit="return verifyRequired();">
        <input name="redirect" value="http://www.icontact.com/www/signup/thanks.html" type="hidden">
        <input name="errorredirect" value="http://www.icontact.com/www/signup/error.html" type="hidden">
        <script type="text/javascript">

        if (document.location.protocol === "https:")

        	document.icpsignup.action = "https://app.icontact.com/icp/signup.php";
        function verifyRequired() {
          if (document.icpsignup["fields_email"].value == "") {
            document.icpsignup["fields_email"].focus();
            alert("The Email field is required.");
            return false;
          }


        return true;
        }
        </script>
        <div id="SignUp">
          <p>Enter your email below to sign up for the farmsubsidy.org newsletter.</p>
          <label for="fields_email">Email:</label>&nbsp;<input type="text" name="fields_email" value="" id="fields_email" size="50">
          <input name="Submit" value="Submit" type="submit">
            <input name="listid" value="3290" type="hidden">
            <input name="specialid:3290" value="OMN5" type="hidden">
            <input name="clientid" value="161514" type="hidden">
            <input name="formid" value="278" type="hidden">
            <input name="reallistid" value="1" type="hidden">
            <input name="doubleopt" value="1" type="hidden">
        </div>
        </form>
      </div>
      <div class="box content">
        <object width="400" height="230">
          <param name="allowfullscreen" value="true" />
          <param name="allowscriptaccess" value="always" />
          <param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=6184633&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" />
          <embed src="http://vimeo.com/moogaloop.swf?clip_id=6184633&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="100%" height="330"></embed>
          </object>
          <p><a href="http://vimeo.com/6184633">Fields of Gold: Lifting the Veil on Europe's Farm Subsidies</a> from <a href="http://vimeo.com/user2189293">farmsubsidy.org</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
      </div>
      
      
      
    </div>
    <div class="col2">
      <h3>By country</h3>
      {% load countries %}
      {% country_menu %}
    </div>
  </div>
</div>

<div class="section">
  <h2 class="section_title">Get the data</h2>
  <div class="section_content">
  <p>The data on this website is all re-published from official government sources. Most of the data has been obtained following requests made under freedom of information laws. The data is not of a uniformly high quality and in some cases has required cleaning and fixing. As we simply republish government data, any mistakes almost certainly have their origin in the government data. All the data is provided 'as is' and is available for you to reuse under a Creative Commons license, or via the raw data. <a href="/legal/">Read legal disclaimer in full</a>.</p>
  </div>
</div>



{% endblock %}
