{% extends "base.html" %}

{% block body_class %}onecol{% endblock %}
{% block body_style %}home{% endblock %}

{% block title %}Explore European Common Agricultural Policy farm subsidy payments{% endblock %}

{% block content %}
{% load inthenews %}
{% latestnews "" 1 "Blog" 1 %}

<div class="section">
    <h2>
        Welcome to farmsubsidy.org!
    </h2>
    <p class="intro">
        The EU spends around &euro;55 billion a year on farm subsidies that costs each citizen around &euro;100 a year. This website helps people find out who gets what, and why.
    </p>
</div>

<div class="section">
    <h3>Latest news &amp; reports from the farmsubsidy.org network</h3>
    {% if featured_items.0 %}                  
        <h5><a href="{{ featured_items.0.get_absolute_url }}">{{ featured_items.0.title }}</a></h5>
        <p>{{ featured_items.0.teaser|truncatewords:"25" }}</p>
    {% endif %}                  
    {% if featured_items.1 %}
      <h5><a href="{{ featured_items.1.get_absolute_url }}">{{ featured_items.1.title }}</a></h5>
      <p>{{ featured_items.1.teaser|truncatewords:"25" }}</p>
    {% endif %}
    {% if featured_items.2 %}        
    <h5><a href="{{ featured_items.2.get_absolute_url }}">
    {{ featured_items.2.title }}</a></h5>
    <p>{{ featured_items.2.teaser|truncatewords:"25" }}</p>
    {% endif %}
</div>

<div class="section">
    <h3>Latest annotations</h3>
    <ul>
    {% for annotation in latest_annotations %}
        <li>{{ annotation.user.username }} annotated <a href="{{ annotation.content_object.get_absolute_url }}">{{ annotation.content_object.name }}</a>:  <blockquote>{{ annotation.comment|truncatewords:30 }}</blockquote></li>        
    {% endfor %}
    </ul>
</div>

{% endblock %}


{% block right %}
    <h3>Top Recipients</h3>
    <ul>
    {% for r in top_eu %}
      <li><a href="{{ r.get_absolute_url }}">{{ r.name }}</a></li>
    {% endfor %}
    </ul>
    <h3>Browse by country</h3>
    {% load countries %}
    {% country_menu %}
{% endblock %}