{% load humanize %}
{% load list_tags %}
{% list_items list_name as list_items %}

    <div class="list_total">        
        <strong>Total:</strong> &euro;{% list_total list_name %}
        <span id="list_arrow"></span>
    </div>
    <div id="box_content">
        {% if list_items %}
            <ul>
            {% for item in list_items %}
                <li><strong><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></strong><br />
                &euro;{{ item.total|floatformat:"2"|intcomma }}<br />
                {% list_item_edit item %}
                </li>
            {% endfor %}
            </ul>
            {% else %}
                <p>There are no items in your list yet.</p>
                <p>To add items, <a href="{% url home %}">browse or search</a> the site and click on the icon next to a recipient.</p>
        {% endif %}
    </div>

