{% load i18n %}
{% load list_tags %}
{% if list_enabled %}
    <div class="list_block">
        <h3>Custom Lists</h3>
        {% include "blocks/list_items.html" %}
        <h4>
        {% if list_object %}
            <a href="{{ list_object.get_absolute_url }}">{{ list_object.name }}</a>
        {% else %}
            New list
        {% endif %}
        </h4>
        {% if list_object %}
            <a href="{% url save_list list_object.pk %}">Save</a>
        {% else %}
            <a href="{% url save_list %}">Save</a>
        {% endif %}

        <a href="{% url deactivate_list %}">Deactivate</a>
    </div>
{% endif %}
