{% load list_tags %}
{% list_items list_name as list_items %}

<div class="list_items">
    Editing {% if list_object.name %}<a href="{% url save_list %}">{{ list_object.name }}</a>{% else %}a new list. <br /><a href="{% url save_list %}">Click here to save</a>{% endif %}
    <span id="list_arrow"></span>
    <div id="box_content">
        {% if list_items %}
            <ul>
            {% for item in list_items %}
                <li><strong><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></strong><br />
                {{ item.total }}<br />
                {# {% list_item_edit item.content_object %} #}
                </li>
            {% endfor %}
            </ul>
            {% else %}
                <p>There are no items in your list yet.</p>
                <p>To add items, <a href="{{ home_url }}">browse or search</a> the site and click on the icon next to a recipient.</p>
        {% endif %}
    </div>
</div>
