{% extends "base.html" %}
{% load humanize %}
{% load list_tags %}

{% block title %}
    Browse {{ country.name }} {{ browse_type }}, All years
{% endblock %}

{% block page_title %}
    Browse <a href="{% url country country.code %}">{{ country.name }}</a>, All years
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% autopaginate recipients 30 as recipients %}

    <table>
        <thead>
            <th>Name</th>
            <th>Amount</th>
        </thead>
        <tbody>
            {% for recipient in recipients %}
                <tr>
                    <td><a href="{{ recipient.get_absolute_url }}">{{ recipient.name }}</a></td>
                    <td class="money">&euro;{{ recipient.total|floatformat:0|intcomma }}</td>
                    <td>{% list_item_edit recipient %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4 class="pager">{% paginate %}</h4>
{% endblock %}

{% block right %}
    {% include "breadcrumbs.html" %}
{% endblock %}