{% extends "base.html" %}
{% load humanize %}
{% load list_tags %}

{% block title %}
    Browse {{ country.name }} {{ browse_type }}, All years
{% endblock %}

{% block page_title %}
    Browse <a href="{% url country country.code %}">{{ country.name }}</a>, All years
{% endblock %}

{% block content %}
    <table>
        <thead>
            <th>Name</th>
            <th class="money">Amount (all years)</th>
            {% if list_name %}
                <th class="list_head"></th>
            {% endif %}
        </thead>
        <tbody>
            {% for recipient in recipients.object_list %}
                <tr>
                    <td><a href="{{ recipient.get_absolute_url }}">{{ recipient.name }}</a></td>
                    <td class="money">&euro;{{ recipient.total|floatformat:0|intcomma }}</td>
                    <td>{% list_item_edit recipient %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4 class="pager">
        {% if recipients.has_previous %}
            <a href="{{ recipients.format_previous_link }}">Previous</a>
        {% endif %}
        <a href="{{ recipients.format_next_link }}">Next</a>
    </h4>
{% endblock %}

{% block right %}
    {% include "breadcrumbs.html" %}
{% endblock %}