{% extends 'base.html' %}

{% load blocks %}

{% block title %}
{% browsePathTitle browsepath%} {{country.name}}
{% endblock %}

{% block content %}
<h2>EU Farm subsidies, {% browsePathHead browsepath%}</h2>

{% ifequal  country.code browsepath %}
  {% load countrystats %}
  {% country_stats country.code %}  
{% endifequal %}

{% load blocks %}
{% regionBrowse country.code browsepath%}

<div class="section">
<h3>Top 20 recipients</h3>  
{% search "geopath:" browsepath 20 %}
{% url countrybrowse country.code as browseurl %}
<a href="{{ browseurl }}">
 Browse all {{ country.code }} recipients</a>
</div>


{% endblock %}


{% block right %}

<div class="block">
  <h5>Browse all recipients</h5>
    {% url countrybrowse country.code as browseurl %}
    <a href="{{ browseurl }}">By amount received</a>
</div>

{% load transparency_index %}
{% transparency_index country.code %}

{% load inthenews %}
{% latestnews country.code %}

{{block.super}}

{% endblock %}