{% extends "base.html" %}
{% load humanize %}


{% block title %}
  {{ country.name }}
{% endblock %}

{% block page_title %}
  EU Farm subsidies for {{ country.name }}{% ifnotequal selected_year 0 %} in {{ selected_year }}{% else %}, All years{% endifnotequal %}
{% endblock %}

{% block content %}

{% if years.1 %}  
  {% load graphs %}
  {% graph "country_years" country.code %}

<div class="year_selector">  
  {% for year in years %}
    {% ifequal year.year selected_year  %}
      <strong>{{ year.year }}</strong>
    {% else %}
      {% url country_year country=country.code year=year.year as year_url %}
      <a href="{{ year_url }}">{{ year.year }}</a>
    {% endifequal %}
  {% endfor %}
  <br />
  {% ifequal selected_year 0 %}
    All Years
  {% else %}
    <a href="{% url country_year country=country.code year=0 %}" class="selected">All Years</a>
  {% endifequal %}
</div>

{% endif %}


{% load countrystats %}
{% country_stats country.code selected_year %}



<div class="block top_schemes halfcol">
  <h3>Top Schemes</h3>
  <table>
    <thead>
      <th>Name</th>
      <th>Amount</th>
    </thead>
  {% for scheme in top_schemes %}
    <tr>
      {% url scheme_view country=scheme.country globalschemeid=scheme.globalschemeid as scheme_url %}
      <td><a href="{{ scheme_url }}">{{ scheme.scheme.nameenglish }}</a></td>
      <td>&euro;{{ scheme.scheme_total|floatformat:2|intcomma }}</td>
    </tr>
  {% endfor %}
  </table>
  <a href="{% url browse country=country.code browse_type="scheme" year=selected_year sort="amount" %}">View All</a>
</div>
<div class="block top_regions halfcol">
  <h3>Top Regions</h3>
  <table>
    <thead>
      <th>Name</th>
      <th>Amount</th>
    </thead>
  {% for region in top_regions %}
    <tr>
      {# <td><a href="{% url location_view country=region.country geo1=region.geo1 %}">{{ region.geo1|title }}</a></td> #}
      <td>{{ region.name|title }}</td>
      <td>&euro;{{ region.total|floatformat:2|intcomma }}</td>
    </tr>
  {% endfor %}
  </table>
  <a href="{% url location_view country=country.code %}">View All</a>
</div>

<div class="block top_recipients">
  <h3 style="clear:both"">Top Recipients</h3>
  <table>  
    <thead>
      <th>Name</th>
      <th>Amount</th>
    {% if custom_list.active %}
      <th>Add To List</th>
    {% endif %}
    </thead>
    <tbody>
      {% for r in top_recipients %}
        <tr>
          {% url recipient_view r.country r.globalrecipientidx r.name as recipient_url %}
          <td><a href="{{ recipient_url }}">{{ r.name }}</a></td>
          <td>&euro;{{ r.payment_total|floatformat:2|intcomma }} ({{ r.total }})</td>
        </tr>
      {% endfor %}
      
    </tbody>
  </table>
  <a href="{% url browse country=country.code browse_type="recipient" year=selected_year sort="amount" %}">View All</a>
</div>


{% endblock %}
  

{% block right %}

<div class="block">
  <h3>Browse all recipients</h3>
    <ul>
    <li><a href="{% url browse country=country.code browse_type="recipient" year=selected_year sort="amount" %}">By Recipients</a></li>
    <li><a href="{% url location_view country=country.code %}">By Region</a></li>
    <li><a href="{% url browse country=country.code browse_type="scheme" year=selected_year sort="amount" %}">By Scheme</a></li>
    </ul>
</div>


  {% load transparency_index %}
  {% transparency_index country %}

  {% load inthenews %}
  {% latestnews country.code %}

  {{block.super}}
  
{% endblock %}
