{% extends 'base.html' %}

{% load blocks %}
{% load cache %}

{% block title %}
{% browsePathTitle browsepath%} {{country.name}}
{% endblock %}

{% block content %}
<h2>EU Farm subsidies, {% browsePathHead browsepath%}, {{ year }}</h2>

{% ifequal  country.code browsepath %}
  {% load countrystats %}
  {% cache 500 country_stats %}
    {% country_stats country.code %}  
  {% endcache %}
{% endifequal %}

{% regionBrowse country.code browsepath %}

<div class="section">
  <h3>Top 20 recipients</h3>  
  {% cache 500 countrytop20 %}
  <table>
    <thead>
      <th>Name</th>
      <th>Amount</th>
    </thead>
  {% for key,result in results.documents.items %}
    {% url data.views.recipient  recipient_id=result.recipient_id_x country=result.country as recipient_url %}
    <tr>
    <td><a href="{{recipient_url}}/{{result.name|slugify|urlencode}}">{{ result.name }}</a></td>
    <td>&euro;{{ result.amount }}</td>
    <td>
    </tr>
  {% endfor %}
  </table>
  {% url countrybrowse country.code as browseurl %}
  <a href="{{ browseurl }}">
   Browse all {{ country.code }} recipients</a>
  {% endcache %}
</div>


{% endblock %}


{% block right %}

<div class="block">
  <h3>Browse all recipients</h3>
    {% url countrybrowse country.code as browseurl %}
    <a href="{{ browseurl }}">By amount received</a>
</div>

{% load transparency_index %}
{% transparency_index country.code %}

{% load inthenews %}
{% latestnews country.code %}

{{block.super}}

{% endblock %}