{% extends "base.html" %}
{% load humanize %}

{% block title %}
  {% if location.name %}
      EU Farm subsidies for {{ location.0.name|title }}, {{ country.name }}
  {% else %}
    All locations in {{ country.name }}
  {% endif %}

{% endblock %}

{% block page_title %}
    {% if location.name %}
        EU Farm subsidies for {{ location.name|title }}, {{ country.name }}
    {% else %}
      All locations in {{ country.name }}
    {% endif %}
{% endblock %}

{% block content %}
  {% if location.recipients %}    
    <p>{{ location.recipients|intcomma }} recipients in {{ location.name|title }} received a total of &euro;{{ location.total|floatformat:0|intcomma }} </p>
  {% endif %} 
  
  {% if sub_locations %}
    <div class="block top_recipients">
      <h3>Breakdown by place</h3>
      <table>  
        <thead class="sort-{{ sub_location_sort }}">
          <th>Name</th>
          <th>Amount</th>
          <th>Recipients</th>
          <th>Average per recipient</th>
          
        </thead>
        <tbody>
          {% for sub_location in sub_locations %}
            <tr>
              <td>
                <a href="{{ sub_location.get_absolute_url }}">{{ sub_location.name|title }}</a>
                <td>&euro;{{ sub_location.total|floatformat:0|intcomma }}</td>
                <td>{{ sub_location.recipients|floatformat|intcomma }}</td>
                <td>&euro;{{ sub_location.average|floatformat:0|intcomma }}</td>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
  
  
  <div class="block top_recipients">
    <h3>Recipients</h3>
    <table>  
      <thead>
        <th>Name</th>
        <th>Amount</th>
      </thead>
      <tbody>
        {% for r in location_recipients %}
          <tr>
            <td><a href="{{ r.get_absolute_url }}">{{ r.name|title }}</a></td>
            <td>&euro;{{ r.total|floatformat:0|intcomma }}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  
  
  
  
  
{% endblock %}



{% block right %}
    {% include "breadcrumbs.html" %}
{% endblock %}