{% extends "base.html" %}
{% load humanize %}

{% block title %}
  {% if location.0.name %}
      {{ location.0.name|title }}, {{ country.name }}
  {% else %}
    All locations in {{ country.name }}
  {% endif %}

{% endblock %}

{% block page_title %}
    {% if location.name %}
        {{ location.name|title }}, {{ country.name }}
    {% else %}
      All locations in {{ country.name }}
    {% endif %}
{% endblock %}

{% block content %}

  <p>{{ location.recipients|intcomma }} recipients received &euro;{{ location.total|floatformat:2|intcomma }}  </p>
  {% if sub_location %}
    {% if sub_location.0.latlng %}
      <img src='http://maps.google.com/maps/api/staticmap?size=400x400&sensor=false{% for l in sub_location %}&markers={{ l.latlng }}{% endfor %}&key={{ GOOGLE_MAPS_API_KEY }}' />
    {% endif %}      
  
    <div class="block top_recipients">
      <h3>Sub-locations</h3>
      <table>  
        <thead class="sort-{{ sub_location_sort }}">
          <th><a href="?sublocation=name" class="name">Name</a></th>
          <th><a href="?sublocation=amount" class="amount">Amount</a></th>
          <th><a href="?sublocation=recipients" class="recipients">Recipients</a></th>
          <th><a href="?sublocation=avg" class="avg">Average per recipient</a></th>
          
        </thead>
        <tbody>
          {% load cleanurl %}
          {% for l in sub_location %}
            <tr>
              <td>
                <a href="{% cleanurl location_view country.code l.geo1 l.geo2 l.geo3 l.geo4 %}">{{ l.name|title }}</a>
                <td>&euro;{{ l.total|floatformat:2|intcomma }}</td>
                <td>{{ l.count|floatformat|intcomma }}</td>
                <td>&euro;{{ l.avg|floatformat:2|intcomma }}</td>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
  
  
  <div class="block top_recipients">
    <h3>Top Recipients</h3>
    <table>  
      <thead>
        <th>Name</th>
        <th>Amount</th>
      </thead>
      <tbody>
        {% for r in location_recipients %}
          <tr>
            {% url recipient_view country.code r.global_id r.name as recipient_url %}
            <td><a href="{{ recipient_url }}">{{ r.name|title }}</a></td>
            <td>&euro;{{ r.amount_euro|floatformat:2|intcomma }}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
    <a href="">View All</a>
  </div>
  
  
  
  
  
{% endblock %}



{% block right %}
    {% include "breadcrumbs.html" %}
{% endblock %}