{% extends "base.html" %}
{% load humanize markup %}
{% load more_like_this %}
{% load countries %}
{% block title %}
  {{ recipient.name }} | {{ country.name }}
{% endblock %}

{% block page_title %}
  {{ recipient.name }}
{% endblock %}

{% block breadcrumb %}
{% for item in breadcrumbs %}
  {% for heading, content in item.items %}

    {% for url in content %}      
      &nbsp;<a href="{{ url.url }}" class="{{ url.class }}">&laquo; {{ url.name|title }}</a> 
    {% endfor %}
  {% endfor %}

{% endfor %}
{% endblock %}

{% block content %}

    <div class="section">
            
        <p>
            {{recipient.name}} is a recipient of farm subsidies in {% if recipient.town %}{{ recipient.town|title }},{% endif %} {{ country.name }}.
        </p>
        <p>
            Since {{first_year}} it has received <strong>&euro;{{ recipient_total|floatformat:2|intcomma }}</strong> in payments from the European Union comprising of {% if has_direct %}<strong>direct subsidies</strong> (income support){% if has_indirect and has_rural %}, {%else%}{% if has_indirect or has_rural %} and {% else %}.{%endif%}{%endif%}{% endif %}{%if has_indirect %}<strong>indirect or other subsidies</strong> (market support such as export refunds or costs associated with food storage){% if has_rural %} and {%else%}.{%endif%}{% endif %}{% if has_rural %}<strong>rural development payments</strong> (for land conservation, income support for farms in dry, mountainous or cold places, or business development grants).{%endif%}
        </p>
    </div>

  <div class="section">  
    <h3>Details of payments</h3>
    <table>
        <thead>
            <tr>
                <th>Year</th>
                <th>Scheme</th>
                <th>Total</th>
            </tr>
        </thead>
        {% for payment in payments %}
          <tr>
            <td>{{ payment.year }} </td>
            <td>
                <a href="{{ payment.scheme.get_absolute_url }}">{{ payment.scheme.nameenglish }}</a>
            </td>
            <td>&euro;{{ payment.amounteuro|floatformat:2|intcomma }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td style="text-align:right;"><strong>Total:</strong></td>
          <td>&euro;{{ recipient_total|floatformat:2|intcomma }}</td>
        </tr>
    </table>
  </div>
  
  {# Only show the graph if there is more than one payment_year #}
  {% if payment_years.1 %}  
    <div class="section">
        <h3>Breakdown by year</h3>
        {% load graphs %}
        {% graph "recipient_graph" recipient.globalrecipientidx %}
    </div>
  {% endif %}
  
    {% load comments i18n %}  
    <div class="section">

        {% get_comment_list for recipient as comment_list %}
        {% ifequal comment_list|length 0 %}
            {# no comments #}
            <h3><span class="highlight">Nobody has looked into this recipient yet</span></h3>
            <p>
                Currently all we know about {{recipient.name}} are the few bits of information released by the {{ country.name }} government.
            </p>
            <p>
            We need <strong>your help</strong> to find out more about this recipient. Is it a multi-national company or a small independent farm? What does it produce? Is it a subsidiary of a larger company? How large is it? Is it owned by anyone noteworthy?</p>
        {% else %}
            {# has comments #}
            <h3>More information about this recipient</h3>
            <p>
                People have been helping us to find out more about {{recipient.name}}. You can add more information below. Here is what we know so far:
            </p>
            {% for comment in comment_list %}
              <div class="comment">
                  {{ comment.comment|markdown:"safe" }}                  
                  <small class="comment_meta">
                      Added {{ comment.submit_date|naturalday }} by {{ comment.user }} | <a href="/about#contactus">something wrong?</a>
                    </small>
              </div>
            {% endfor %}
            </div>
            <div class="section">
            <h3>Help us improve this page</h3>            
            <p>
            Can you find any more information about {{recipient.name}}? Is it a multi-national company of a small independent farm? What does it produce? Is it a subsidiary of a larger company? How large is it? Is it owned by anyone noteworthy?
            </p>
        {% endifequal %}

        {% if user.is_authenticated %}
            {% get_comment_form for recipient as form %}
            <form id="comments" action="{% comment_form_target %}" method="post">
                <fieldset>
                  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
                  {% for field in form %}
                    {% if field.is_hidden %}
                      {{ field }}
                    {% else %}
                      {% if field.errors %}{{ field.errors }}{% endif %}
                      <p id="line_{{field.html_name}}" {% if field.errors %} class="error"{% endif %}{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                        {{ field.label_tag }} {{ field }}
                      </p>
                      {% ifequal field.name "comment" %}
                      <p class="hint">
                          <strong>Format help:</strong>
                          <br/>
                          Link: [text to display](http://example.net/)
                          <br/>                          
                          List item: * example item
                          <br/>                          
                          Bold text: *example text*
                      </p>
                      {% endifequal %}
                    {% endif %}
                  {% endfor %}
                  <p class="submit">
                    <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
                    <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
                  </p>
                 </fieldset>
            </form>

        {% else %}
            <p id="disabled_comments">
                <textarea disabled="disabled"></textarea>
                <br/>
                <a href="{% url registration_register %}">Create an account</a> or <a href="{% url auth_login %}">sign in</a> to tell us something about {{recipient.name}}.
            </p>
        {% endif %}
        
    </div>

{% endblock %}

{% block right %}
{%if recipient.lat and recipient.lng%}
    <img src="http://maps.google.com/maps/api/staticmap?center={{recipient.lat}},{{recipient.lng}}&zoom=15&size=245x200&sensor=false&maptype=satellite" title="Satellite image" alt="Satellite image" width="245" height="200"/>
{% endif %}



    <h4>Address</h4>    
    <p>
        {% if recipient.address1 %}{{ recipient.address1|title }}<br />{% endif %}
        {% if recipient.address2 %}{{ recipient.address2|title }}<br />{% endif %}
        {% if recipient.address3 %}{{ recipient.address3|title }}<br />{% endif %}
        {% if recipient.town %}{{ recipient.town|title }}<br />{% endif %}
        {% if recipient.address4 %}{{ recipient.address4|title }}<br />{% endif %}
        {% if recipient.zipcode %}{{ recipient.zipcode|slice:"3:" }}<br />{% endif %}
    </p>
    <p>
        {% if recipient.geo4 %}<a href="{{ recipient.geo4_url }}">View other recipients in {{ recipient.geo1_url }}--{{ recipient.geo4|title }}</a><br />{% endif %}
        {% if recipient.geo3 %}<a href="{{ recipient.geo3_url }}">View other recipients in {{ recipient.geo3|title }}</a><br />{% endif %}
        {% if recipient.geo2 %}<a href="{{ recipient.geo2_url }}">View other recipients in {{ recipient.geo2|title }}</a><br />{% endif %}
        {% if recipient.geo1 %}<a href="{{ recipient.geo1_url }}">View other recipients in {{ recipient.geo1|title }}</a><br />{% endif %}
    </p>
    
    {% if closest %}        
    <h4>Near By</h4>
    <ul>
        {% for r in closest %}
            <li><a href="{{ r.recipient.get_absolute_url }}">{{ r.recipient.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    
    
    {% more_like_this recipient as related_content limit 3 %}
    {% if related_content %}
        <h4>Similarly named recipients</h4>
        <ul>
        {% for item in related_content %}
          <li><a href="{{ item.object.get_absolute_url }}">{{ item.object.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}