{% extends "base.html" %}
{% load humanize markup %}

{% block title %}
  {{ recipient.name }} | {{ country.name }}
{% endblock %}

{% block page_title %}
  {{ recipient.name }}
{% endblock %}


{% block content %}
  
  {# Only show the graph if there is more than one payment #}
  {% if payments.1 %}
    {% load graphs %}
    {% graph "recipient_graph" recipient.globalrecipientidx %}
  {% endif %}
  
  <table>
    <thead>
      <th>Year</th>
      <th>Scheme</th>
      <th>Total</th>
    </thead>
    {% for payment in payments %}
      <tr>
        <td>{{ payment.year }} </td>
        <td>
          {% if payment.schemeid %}
            <a href="{% url scheme_view payment.country payment.schemeid %}">{{ payment.name }}</a>
          {% else %}
            {{ payment.name }}
          {% endif %}
        </td>
        <td>&euro;{{ payment.amount_euro|floatformat:2|intcomma }}</td>
      </tr>
    {% endfor %}
  </table>
  
  {% if related.documents.items %}
    <div class="section">
      <h3>Related</h3>
      <p>The following recipients might be related to {{ recipient.name }}</p>
      <ul>
      {% for k,r in related.documents.items %}
        <li><a href="{% url recipient_view r.countrypayment r.global_id r.name|slugify %}">{{ r.name }}</a></li>
      {% endfor %}
      </ul>
    
    </div>
  {% endif %}
  
  <div class="section">
    {% load comments i18n %}
    {% get_comment_list for recipient as comment_list %}
    {% for comment in comment_list %}
      <div class="comment">
        <div class="info col">        
          <h4>{{ comment.user }}</h4>
          {{ comment.submit_date|date:"H.i" }} {{ comment.submit_date|naturalday }}
        </div>    
        <div class="message col">
          {{ comment.comment|markdown:"safe" }}
        </div>
      </div>
    {% endfor %}
    
  </div>

  <div class="section">
    <h3>Add information for this recipient</h3>
    <p>e.g. What kind of farm or company is it? Is it a subsidiary of another company? Are you the owner or do you live nearby? Any other factual information to add?</p>
    
    {% if user.is_authenticated %}
    {% get_comment_form for recipient as form %}
    <form action="{% comment_form_target %}" method="post">
      {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
      {% for field in form %}
        {% if field.is_hidden %}
          {{ field }}
        {% else %}
          {% if field.errors %}{{ field.errors }}{% endif %}
          <p
            {% if field.errors %} class="error"{% endif %}
            {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
            {{ field.label_tag }} {{ field }}

          </p>
        {% endif %}
      {% endfor %}
      <p class="submit">
        <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
        <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
      </p>
    </form>
    
    {% else %}
        <a href="{% url registration_register %}">Create an account</a> or <a href="{% url auth_login %}">Log in</a> to add information.
    {% endif %}
  </div>
  
{% endblock %}


{% block right %}

{% include "breadcrumbs.html" %}

{% load recipient_blocks %}  
{% recipient_links recipient %}

{% endblock %}