{% extends "base.html" %}
{% load humanize %}

{% block title %}
    {{ scheme.nameenglish }}
{% endblock %}

{% block page_title %}
    {{ scheme.nameenglish }}
{% endblock %}

{% block content %}
  
  {% load pagination_tags %}
  {% autopaginate top_recipients 30 %}
  
  <h3>All Recipients</h3>
  <table>
    <thead>
      <th>Name</th>
      <th>Total (for this scheme, all years)</th>
    </thead>
    <tbody>
      {% for recipient in top_recipients %}
      <tr>
        <td><a href="{{ recipient.get_absolute_url }}">{{ recipient.name }}</a></td>
        <td>&euro;{{ recipient.scheme_total|floatformat:0|intcomma }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h4 class="pager">{% paginate %}</h4>


{% endblock %}

{% block right %}
  {% include "breadcrumbs.html" %}
{% endblock %}