{% extends "base.html" %}
{% load humanize %}
{% load cache %}

{% block title %}
    {{ scheme.nameenglish }}
{% endblock %}

{% block page_title %}
    {{ scheme.nameenglish }}
{% endblock %}

{% block content %}
  
  {% load pagination_tags %}
  {% autopaginate top_recipients 30 %}
  {% cache 10000000 scheme_recipients %}
  <h3>All Recipients</h3>
  <table>
    <thead>
      <th>Name</th>
      <th class="money">Total (for this scheme, all years)</th>
    </thead>
    <tbody>
      {% for recipient in top_recipients %}
      <tr>
        <td><a href="/{{ recipient.countrypayment }}/recipient/{{ recipient.pk }}/{{ recipient.name|slugify }}">{{ recipient.name }}</a></td>
        <td class="money">&euro;{{ recipient.scheme_total|floatformat:0|intcomma }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endcache %}
  <h4 class="pager">{% paginate %}</h4>


{% endblock %}

{% block right %}
  {% include "breadcrumbs.html" %}
{% endblock %}