{{ active }}
<ul class="pager">
  
  {% if first_page %}
      <li><a href="{{ first_page.url }}">First</a></li>
  {% endif %}
  
  {% if previous_page %}
      <li><a href="{{ previous_page.url }}">Previous</a></li>
  {% endif %}
  
  {% for page in pages_left %}
      <li><a href="{{ page.0.url }}" {% if page.0.active %}class="active"{% endif %}>{{ page.1 }}</a></li>
    {% endfor %}

  {% if pages_centre %}
    <li>...</li>
    {% for page in pages_centre %}
        <li><a href="{{ page.0.url }}" {% if page.0.active %}class="active"{% endif %}>{{ page.1 }}</a></li>
      {% endfor %}    
  {% endif %}
  <li>...</li>
  {% for page in pages_right %}
      <li><a href="{{ page.0.url }}" {% if page.0.active %}class="active"{% endif %}>{{ page.1 }}</a></li>
    {% endfor %}
  
  {% if next_page %}
      <li><a href="{{ next_page.url }}">Next</a></li>
  {% endif %}
  
  {% if last_page %}
      <li><a href="{{ last_page.url }}">Last</a></li>
  {% endif %}
  
</ul>