{% extends "base.html" %}
{% load active_url %}

{% block title %}{{ user.username }}{% endblock %}
{% block page_title %}{{ user.username }}{% endblock %}

{% block content %}
    {% block tabs %}
        <ul class="tabs">
            <li class="{% active request "myaccount/$" %}"><a href="{% url my_account:dashboard %}">Dashboard</a></li>
            <li class="{% active request "myaccount/annotations/$" %}"><a href="{% url my_account:annotations %}">My Annotations</a></li>
            <li class="{% active request "myaccount/lists/$" %}"><a href="{% url my_account:lists %}">My Lists</a></li>
            {# <li class="{% active request "myaccount/account/$" %}"><a href="{% url my_account:account %}">My Account</a></li> #}
        </ul>
    {% endblock %}
    {% block account_content %}
        {{ x }}
    {% endblock %}
{% endblock %}