body {
  margin:0 auto;
  padding:0;
/*  width:80%;*/
  height:100%;
}

#outer {
/*  width:100%;*/
  position:absolute;
  padding:0 10%;
  top:0;
  left:0;
  right:0;
  overflow:auto;
}

.list_enabled #outer {
  bottom:2em;
}

#head {
  border-bottom:1px solid black;
  position:relative;
  margin:2em 0 0.5em 0;
}

#home #head {
  text-align:center;
}

#head h1 {
  font-variant:small-caps;
  font-size:2em;
  font-weight:bold;
}

#head h1 a {
  text-decoration:none;
  color:#000000;
}

#head h1 img {
  margin-right:-20px;  
}

#head h2 {
  font-size:1.2em

}

#right {
  border-left:3px dotted #7E7E7E;
  margin-top:2em;
  padding-left:5%;
  float:right;
  width:20%;
}

#home #right {
  display:none;
  width:0;
}

#content {
  float:left;
  margin:0;
  width:65%;
}

#home #content {
  width:100%;
}


#footer {
  clear:both;
  text-align:center;
}

#footer ul {
  list-style-type:none;  
  margin:0 auto;
  width:auto;
}

#footer p {
  clear:both;
}

#footer ul li {
  display:inline;
  padding:0 1em;
}

#mainmenu {
  list-style-type:none;
  position:absolute;
  top:0;
  right:0;
}

#mainmenu li {
  float:left;
  padding-left:2em;
}


#search_form {
  position:relative;
  height:4em;
}

#home #search_form #q {
  font-size:1.4em;
  height:20px;
  padding:5px;
  border:1px solid #333;
  width:50%;
  float:left;
}

#home #search_form .description {
  position:absolute;
  right:30%;
  top:2.8em;
}

#home #search_form label {
  font-weight:normal;
}

#home #search_form .submit {
  float:left;
  font-size:1.4em;
  height:32px;
  margin-left:5px;
  border:1px solid #333;
  padding:5px;
}

.section_title {
  width:20%;
/*  display:block;*/
  float:left;
}

.active {
  list-style:circle;
}

.active a {
  color:#000;
}


ul.error {
  list-style-position:inside;
}

#home .section {
  padding:2em 0 4em 0;
  margin:0.5em 0 0 0;
  border-top:1px solid black;
  overflow:auto;
}

#home .section_content {
  margin-left:20%;
}

#home .section_content .col1 {
  float:left;
  width:70%;
}

#home .section_content .col1 .halfbox {
  float:left;
  width:45%;
/*  border:1px solid black;*/
}

#home .section_content .col1 .box {
  clear:both;
  border-top:2px dotted #7E7E7E;
  margin:5px;
  padding:10px 0;
}

#home .section_content .col2 {
  float:left;
  width:30%;
}



#lists {
  width:100%;
  background-color:red;
  height:2em;
  position:absolute;
  bottom:0;
}
