body {
  margin:0 auto;
  padding:0;
  width:80%;
}

#head {
  border-bottom:1px solid black;
  position:relative;
  margin:2em 0;
}

#home #head {
  text-align:center;
}

#head h1 {
  font-variant:small-caps;
  font-size:2em;
  font-weight:bold;
}

#head h1 a {
  text-decoration:none;
  color:#000000;
}

#head h1 img {
  margin-right:-20px;  
}

#head h2 {
  font-size:1.2em

}

#right {
  border-left:3px dotted #7E7E7E;
  margin-top:2em;
  padding-left:5%;
  float:right;
  width:20%;
}

#home #right {
  display:none;
  width:0;
}

#content {
  float:left;
  margin:0 0 0 1em;
  width:65%;
}

#home #content {
  float:left;
  margin:0 0 0 1em;
  width:100%;
}


#footer {
  clear:both;
  text-align:center;
}

#footer ul {
  list-style-type:none;  
  margin:0 auto;
  width:auto;
}

#footer p {
  clear:both;
}

#footer ul li {
  display:inline;
  padding-left:2em;
}

#mainmenu {
  list-style-type:none;
  position:absolute;
  top:0;
  right:0;
}

#mainmenu li {
  float:left;
  padding-left:2em;
}


#search_form {
  position:relative;
}

#home #search_form #q {
  font-size:1.5em;
  padding:0.2em;
  border:1px solid #333;
  width:50%;
}

#home #search_form .description {
  position:absolute;
  right:30%;
}

#home #search_form label {
  font-weight:normal;
}

#home #search_form .submit {
  font-size:1.5em;
  border:1px solid #333;
  padding:0.2em;
}

.section_title {
  width:20%;
/*  display:block;*/
  float:left;
}

.active {
  list-style:circle;
}

.active a {
  color:#000;
}


ul.error {
  list-style-position:inside;
}

#home .section {
  padding:2em 0 4em 0;
  border-top:1px solid black;
}