html {background:#f8f8f8;}
body {font-family:Helvetica, Arial, sans-serif; text-align:center;color:#141618;}

/* banner (email signup, events, calls to action etc) */
#topbar { font-size:0.7em; padding:0.4em 0.7em; text-align:left;width:90%; margin:0 auto;}
#topbar label {padding-right:0.6em; padding-left:1em;color:#808080;}    
#topbar #newsletter_label { background:url('../images/email_open.png') no-repeat right; padding:5px 20px 0 10px}
#topbar form, #topbar fieldset {display:inline;position:relative; top:-2px;}
#topbar form input {color:#808080;}
#topbar img{vertical-align:bottom;}

/* outer */
#outer {width:90%; background: #fff url(../images/background.png) top right repeat-y; margin:0 auto; text-align:left;border:solid 1px #ccc;}

#outer #content {padding:1em 289px 1em 20px; min-height:300px;_min-height:300px;}
#outer #right {width:239px; padding:1em 20px 0 20px; float:right; font-size:0.8em;min-height:300px;_min-height:300px;}

/* header */
#header {background:#fff; position:relative;}
#header #mainmenu {background:#2a8330;text-align:right; padding:0.5em 20px 0.5em 400px;}
#header #mainmenu li {display:inline;font-size:0.9em; font-weight:bold;}
#header #mainmenu a {color:#fff;border-right:solid 2px #fff; padding-right:0.8em;padding-left:0.8em;}
#header #mainmenu li.last a {border-right:none;padding-right:0;}
#header h1 span, #header h2 {display:none;}
#header h1 a {display:block; background:url(../images/logo.png) no-repeat;height:115px; width:385px;}
#header h1 {position:absolute; top:117px; left:10px;}
#header #photos {height:200px;}

#header #photos.header_1 {background:url(../images/header_1.jpg) center center;}
#header #photos.header_2 {background:url(../images/header_2.jpg) center center;}
#header #photos.header_3 {background:url(../images/header_3.jpg) center center;}
#header #photos.header_4 {background:url(../images/header_4.jpg) center center;}
#header #photos.header_5 {background:url(../images/header_5.jpg) center center;}
#header #photos.header_6 {background:url(../images/header_6.jpg) center center;}
#header #photos.header_7 {background:url(../images/header_7.jpg) center center;}
#header #photos.header_8 {background:url(../images/header_8.jpg) center center;}
#header #photos.header_9 {background:url(../images/header_9.jpg) center center;}
#header #photos.header_10 {background:url(../images/header_10.jpg) center center;}

#header .transparent { background:url(../images/trans.png); }
#header #totalizer  {position:absolute; top:15px; left:0; padding:0.6em;}

#header #search_form  {position:absolute; top:15px; right:0; padding:0.6em;}
#header #search_form #q {width:15em; color:#808080;}
#header #search_form small {display:block; padding-top:0.4em;}    

/* content */
p.breadcrumbs {padding:0; margin:0; font-size:0.7em; position:relative; top:-0.3em; text-align:right;}
h2, h3, h4, h5, h6 {font-weight:bold; margin:0 0 0.7em 0;}
h2 {font-size:1.6em; margin-bottom:0.1em;}
h3 {font-size:1.25em;}
strong {font-weight:bold;}
p {padding-bottom:1em; line-height:1.3em;}
blockquote {padding:1em; line-height:1.3em; font-style:italic;}
p.more_info {text-align:right; font-size:0.9em; padding-right:2em;}
ul {padding-bottom:1em;}


table {font-size:0.9em; width:100%; margin-bottom:1.5em;}
table th {background:#303c30; color:#fff;padding:0.6em 1em;}
table th a {color:#fff;}
table tbody td{background:url(../images/featurebar.png);padding:0.6em 1em;}
th.money, td.money {text-align:right;}

table td { border-bottom:solid 0 #fff;height:20px;padding:0.6em 1em;}
table td.money, table th.money {text-align:right;}
div.section {border-bottom:dotted 1px #ddd; margin:0 0 1em 0; padding:0 0 1em 0;clear:left;}
#right div.section {border-bottom:dotted 1px #ddd; margin:1em 0 1em 0; }
/*#content div.section {overflow:auto; margin-bottom:2em;}*/
span.highlight {background:#ffffaa; padding:0.2em 1em;}
h2 span.highlight, h3 span.highlight, h4 span.highlight h5 span.highlight   
{padding-left:0.5em;position:relative; left:-0.5em;}
textarea {padding:0.5em;}
label {font-weight:bold;}

p.hint {color:#808080;font-size:0.8em; line-height:1.5em; padding:0.4em 0; margin-bottom:1em;}
.smallhint {color:#808080;color:red;font-size:0.8em; padding:0; margin-bottom:0em;}

/* features */
div.features {border-bottom:solid 1px #ccc;background:url(../images/featurebar.png);
    display:none;padding-top:1em;}
div.features h4 {font-variant:small-caps;background:#808080; color:#fff; padding-left:20px;margin:0 0 0 0;}
div.features li {float:left; width:33%; height:6em;}
div.features li a {color:#141618;}
div.features li h5, div.features li p {padding:0 0 0 20px; font-size:1em;}
div.features li p {font-size:0.9em;}

/* homepage */
p.intro {font-size:1.3em;}

/*  links */
a {color:#3092eb;}

/* comments */
#disabled_comments textarea {width:90%; height:30px;margin-bottom:1em; background:#fafafa;}
#comments #line_comment label {display:block; padding:0 0 0.5em 0;}
#comments #line_comment textarea {display:block; width:90%; height:8em;}
.comment {font-style:italic; font-size:0.9em; background:#f2f2f2; margin-bottom:1em; padding:0.5em 1em;}
.comment .comment_meta {display:block; text-align:right; font-style:normal;
    border-top:dotted 1px #ddd; padding-top:0.5em;}

/* footer */
#footer {position:relative;background:#303c30; color:#fff; font-size:0.9em;clear:both;}


#footer #links {padding:25px 289px 2em 20px; background:url(../images/footer.png) repeat-x;line-height:1.5em;}
#footer #links a, #footer #links a:hover, #footer #links a:visited {color:#fff;}
#footer #links dt {float:left;font-weight:bold; padding-right:1em;}
#footer #links ul li {display:inline; padding-right:0.7em;}
#footer #about {width:239px; padding:0 20px 0 20px; position:absolute;
    top:0; right:0;height:100%;
    background: #fff url(../images/background.png) top right;}
#footer #about p {padding:0 0 0 12px;margin:0;color:#808080;}

br.clear {clear:both;}


dl {line-height:1.5em;}
dl dt {font-weight:bold;}
dl dd {padding-left:1em;}


/* metadata */
dl.metadata {line-height:1.5em;}
dl.metadata dt {font-weight:normal; float:left; clear:left; padding-right:1em;}
dl.metadata dd {font-weight:bold; text-align:right;}


.hide { display:none; }

.highlighted {font-weight:bold;}

.pager { text-align:center; border-top: 1px solid #ccc; padding:1em;}
