html {background:none;}
#header {border-bottom:solid 1px #000;}
#header h1 {position:static;}
#topbar {display:none;}
#photos {display:none!important;}\
#search_form {display:none;}
#mainmenu {display:none;}
.breadcrumbs {display:none!important;}
#outer {background:none;border:none;width:100%;}
#outer #content {padding-left:0;}
#footer {border-top:solid 1px #000;}
#footer #links {display:none;}
#footer #about {position:static; background:#fff; width:100%;}
table tbody td {background:none; border-bottom:solid 1px #ccc;}
a img {border:none;}