{% extends "base.html" %}

{% block title %}
  Register or Login
{% endblock %}

{% block content %}

  <form method="POST" style="float:left; width:49%">
    <h2>Login</h2>
    <ul class="form">
    {{ login_form.as_ul }}
    <input type="hidden" name="next" value="{{ next }}" id="next">
    </ul>
    <p><input type="submit" name="login" value="Log In" id="login"></p>
  </form>
  <form method="POST" style="float:left; width:49%">
    <h2>Register</h2>
    <ul class="form">
      {{ registration_form.as_ul }}
    </ul>
    <p><input type="submit" name="login" value="Register" id="login"></p>    
  </form>
{% endblock %}