{% extends "base.html" %}
{% load i18n %}

{% block body_class %} short_page{% endblock %}

{% block title %}{% trans "Deactivate List" %}{% endblock %}
{% block page_title %}{% trans "Deactivate List" %}{% endblock %}

{% block content %}
{% blocktrans %}
  <h3>Are you sure you want to deactivate your list?</h3>

{% endblocktrans %}


<div class="col">
    <p>If you deactivate your list, all unsaved changes will be lost.</p>
  <form method="POST">{% csrf_token %} <input type="submit" name="deactivate_confirm" value="{% trans "Deactivate" %}" id="deactivate_confirm"></form>
</div>
<div class="col">
  <p>Alternatively, you can save your list.  Saving your list will enable 
     you to edit your list at a later date and others to view your list</p>
  
  <form method="POST" action="">{% csrf_token %}<input type="submit" name="deactivate_confirm" value="{% trans "Save" %}" id="deactivate_confirm"></form>
</div>


{% endblock %}