{% extends "base.html" %}
{% load i18n %}
{% load list_tags %}
{% block page_title %}Lists{% endblock %}
{% block title %}Lists{% endblock %}

{% block content %}  
  <div class="col">
    <h3>What are lists?</h3>
    <p>Lists allow you to put together groups of recipients. Lists work just like a shopping cart or an Amazon.com wish list. Begin making a list and keep adding recipients. Saving a list means you can come back to later and the list can be viewed by other users. </p>

    <p>You can make any kind of list you like. You could make a list of large multinational companies, politicians getting farm subsidies, or farms in your local area. <a href="{% url all_lists %}">Here are some examples of lists.</a></p>
    
  </div>
  <div class="col">
    {% if list_enabled %}
    {# {% include "blocks/list_items.html" %} #}
    {% else %}
      <h3>Create a list</h3>
      <p>You don't currently have a list activated. <a href="{% url activate_list %}">Activate one now</a></p>
    {% endif %}
    
  </div>
{% endblock %}

{% block right %}
    {% latest_lists %}
{% endblock %}