{% extends "base.html" %}
{% load i18n %}
{% load markup %}
{% load humanize %}
{% load list_tags %}
{% block page_title %}{{ list_item.name }}{% endblock %}
{% block title %}{{ list_item.name }}{% endblock %}
{% block content %}

    <p class="hint">  
        <a href="{% url edit_list_items list_item.pk %}">Edit this list</a> or <a href="{% url edit_list list_item.pk %}">edit title and description</a>
        {% if list_object.pk == list_item.pk %}
        <br />
          NOTE: Because you are editing this list, the items below may not match the (unsaved) items you have added or removed.
        {% endif %}
    </p>
  

  {{ list_item.description|markdown }}

  
  <div class="section">
    
  {% if list_item.listitem_set.all %}



  <table>
    <thead>
      <th>Name</th>
      <th>Amount</th>
      <th></th>
    </thead>
    <tbody>
      {% for item in list_item.listitem_set.all %}
        <tr>
          <td><a href="{{ item.content_object.get_absolute_url }}">{{ item.content_object.name }}</a></td>
          <td>{{ item.content_object.total|floatformat:2|intcomma }}</td>
          <td>{% list_item_edit item.content_object %}</td>
        </tr>
      {% endfor %}
      <p></p>
    </tbody>
  </table>
  {% else %}
  {% ifequal user.pk list_item.user.pk  %}
  There is nothing in your list yet.  
  <p class="hint"><a href="{% url edit_list_items list_item.pk %}">Add Items</a></p>
  {% else %}
  The list owner hasn't added any items to this list yet.
  {% endifequal %}
  {% endif %}
  </div>
  
{% endblock %}