<div class="section">
  <h3>The Basics</h3>
  <div class="clear">  
    <p class="halfcol"><strong>Total contribution:</strong> {{ info.total_contribution|safe }}            </p>
    <p class="halfcol"><strong>Total spending:</strong> {{ info.total_spending}}                     </p>
    <p class="halfcol"><strong>Net budget balance:</strong> {{ info.net_budget_balance|safe }}            </p>
    <p class="halfcol"><strong>Contribution per citizen:</strong> {{ info.contribution_per_citizen|safe }}</p>
    <p class="halfcol"><strong>Spending per citizen:</strong> {{ info.spending_per_citizen|safe }}        </p>
    <p class="halfcol"><strong>Spending per farm:</strong> {{ info.spending_per_farm|safe }}             </p>
    <p class="halfcol"><strong>Spending per farm worker:</strong> {{ info.spending_per_farm_worker|safe }}</p>
    <p class="halfcol"><strong>Spending per hectare:</strong> {{ info.spending_per_hectare|safe }}        </p>
  </div>
</div>

<div class="section">
  <h3>How the CAP is divided</h3>
  <div class="clear">
  <p class="halfcol"><strong>Proportion direct aids:</strong> {{ info.proportion_direct_aids|safe }}                       </p>
  <p class="halfcol"><strong>Proportion export subsidies:</strong> {{ info.proportion_export_subsidies|safe }}             </p>
  <p class="halfcol"><strong>Proportion rural development:</strong> {{ info.rural_development|safe }}                      </p>
  <p class="halfcol"><strong>Proportion of payments to top 10%:</strong> {{ info.proportion_of_payments_to_top_10|safe }} </p>
  <p class="halfcol"><strong>Proportion of payments to top 20%:</strong> {{ info.proportion_of_payments_to_top_20|safe }}  </p>
  </div>
</div>